/* Media query for medium-sized screens (tablets) */
@media only screen and (max-width: 992px) {
    .container {
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .separator {
      flex-direction: column;
      .header {
        width: 100%;
      }
  
      .about {
        width: 100%;
      }
  
      .work-month-year {
        width: 100%;
        p {
          margin: 0;
        }
      }
  
      .desc {
        width: 100%;
        p {
          margin-top: 0;
        }
      }
    }
  
    header {
      &.hero {
          height: 55vh;
          p {
              width: 90%;
          }
      }
    }
  
    .about {
      main {
          padding-top: 0;
      }
    }
  }
  
  /* Media query for small screens (phones) */
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 20px; /* Further adjust padding for smaller screens */
    }
    .separator {
      flex-direction: column;
      .header {
        width: 100%;
      }
  
      .about {
        width: 100%;
      }
  
      .work-month-year {
        width: 100%;
        p {
          margin: 0;
        }
      }
  
      .desc {
        width: 100%;
        p {
          margin-top: 0;
        }
      }
    }
  
    header {
      &.hero {
          height: 55vh;
          p {
              width: 90%;
          }
      }
    }
  
    .about {
      main {
          padding-top: 0;
      }
    }

    .modal-content {
      width: 100%; /* Full width on small screens */
      padding: 15px;
    }
  }
  
  /* Media query for extra small screens (small phones) */
  @media only screen and (max-width: 400px) {
    .container {
      padding: 0 14px; /* Reduce padding even more for very small screens */
    }
    .separator {
      flex-direction: column;
      .header {
        width: 100%;
      }
  
      .about {
        width: 100%;
      }
  
      .work-month-year {
        width: 100%;
        p {
          margin: 0;
        }
      }
  
      .desc {
        width: 100%;
        p {
          margin-top: 0;
        }
      }
    }
  
    header {
      &.hero {
          height: 55vh;
          p {
              width: 90%;
          }
      }
    }
  
    .about {
      main {
          padding-top: 0;
      }
    }

    .modal-content {
      width: 100%; /* Full width on mobile screens */
      padding: 10px;
    }
  
  }
  